<!DOCTYPE html>
<html lang="en">
  <head>  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Photo-sharing Signup Page</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- VENDOR SCRIPTS -->
    <!-- Replaced with latest version 2.1.4 of jquery from https://developers.google.com/speed/libraries/#jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="base.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
         	<h1 class="text-center">Signup to the Photo-sharing Web App</h1>
         	<hr>
         	<!-- Adding the form that later will be used to add new posts to the list using jQuery. -->
			<form class="text-center" id="new-user" method="POST" action="/users">
				<div class="form-group">
    				<label for="exampleURL">Enter Email here!</label>
    				<input type="email" class="form-control" id="email-item" placeholder="Enter Email here" name="emailInput" autofocus required>
				</div>
        <div class="form-group">
            <label for="exampleURL">Enter Password here!</label>
            <input type="password" class="form-control" id="password-item" placeholder="Enter Password here" name="passwordInput" autofocus required>
        </div>
  				<div class="form-group">
  					<!-- Replacing with a more stylish Boostrap button component that provides extra visual weight -->
					<button type="submit" class="btn btn-primary" data-toggle="tooltip" data-placement="bottom" title="Nike says, just click it!">Click to submit!</button>
    			</div>
			</form>
			<hr>
			<!-- Adding an unorderded list element that will later be used for making a list of posts using HTML strings, JavaScript and jQuery (and Object Oriented Programming!) that render to the DOM. -->
			<!--<ul id="url-list"></ul>-->
        </div>
      </div>
    </div>
  </body>
</html>

<!--
form id="new-user"
form method="post"
form action="/users"
input id="email-item"
input name="emailInput"
input id="password-item"
input name="passwordInput"
-->